@using WebApp.Models;
@model List<WebApp.Models.Odalar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWebAdmin.cshtml";
}
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Odalar (@Model.Count() Adet Kayıt Bulunmaktadır)
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table class="display table table-bordered table-striped" id="example">
                                <thead>
                                    <tr>

                                        <th>Adı</th>
                                        <th>Tipi</th>
                                        <th>Yatak</th>
                                        <th>Durumu</th>
                                        <th>Açıklama</th>
                                        <th>Kişi</th>

                                        <th>Kat</th>

                                        <th>Özellikler</th>
                                        <th>Oda Sayı</th>
                                        <th>İşlemler</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var oda in Model)
                                    {
                                        <tr class="gradeA">

                                            <td>@oda.Adi</td>
                                            <td>@oda.OdaTip.Adi</td>
                                            <td>@oda.YatakTip.Adi</td>
                                            <td>@oda.OdaDurum.Adi</td>
                                            <td>@oda.Aciklama</td>
                                            <td>@oda.KisiSayisi</td>

                                            <td>@oda.Kat</td>

                                            <td>@oda.Ozellikler</td>
                                            <td>@oda.OdaSayisi</td>

                                            <td>
                                                <form method="post" action="@Url.Action("Update", "Odalar")" style="display: inline;">
                                                    <input type="hidden" name="id" value="@oda.Id" />
                                                    <button type="submit" class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
                                                </form>
                                                <form method="post" action="@Url.Action("Sil", "Odalar")" style="display: inline;">
                                                    <input type="hidden" name="id" value="@oda.Id" />
                                                    <button type="submit" class="btn btn-danger btn-xs" onclick="confirmSilme(event)"><i class="icon-trash"></i></button>
                                                </form>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>


